<script>
  $(function() {
    $('.slider').slider();
  });
</script>

<h1>Measure your team's health</h1>

<div class="slider">
  <ul class="slides">
    <li>
      <img src="/home_slider/survey.png">
      <div class="caption center-align">
        <h3 class="white-text">Capture the mood</h3>
        <h5 class="white-text">Get feedback about what's working, and what isn't.</h5>
      </div>
    </li>
    <li>
      <img src="/home_slider/team_responses.png"> <!-- random image -->
      <div class="caption left-align">
        <h3 class="white-text">Understand the team</h3>
        <h5 class="white-text">See how teams and individuals perceive their work.</h5>
      </div>
    </li>
    <li>
      <img src="/home_slider/org_responses.png"> <!-- random image -->
      <div class="caption right-align">
        <h3 class="white-text">Understand the organization</h3>
        <h5 class="white-text">Spot common problems across multiple teams.</h5>
      </div>
    </li>
    <li>
      <img src="/home_slider/trends.png"> <!-- random image -->
      <div class="caption center-align">
        <h3 class="white-text">Monitor trends</h3>
        <h5 class="white-text">See trends within teams and across the organization.</h5>
      </div>
    </li>
  </ul>
</div>

<h4>What is this?</h4>

<p>
  This will be an app for automating Spotify style
  <a href="https://labs.spotify.com/2014/09/16/squad-health-check-model/">squad health checks</a>.
</p>
<p>
  Please note: this app is currently in <b>alpha</b>. Please only try it if you're interested in contributing (whether
  product ideas or pull requests). While in alpha, this app may prove unstable, and your data may be lost.
</p>

<h4>Contributing</h4>

<p>
  Work in progress. Suggestions and contributions
  <a href="https://github.com/jbrunton/agileplanning-io-metrics/issues">welcome</a>.
</p>

