<h1>Measure your team's health</h1>
<h4>What is this?</h4>

<p>
  This will be an app for automating Spotify style
  <a href="https://labs.spotify.com/2014/09/16/squad-health-check-model/">squad health checks</a>.
</p>
<h4>Contributing</h4>

<p>
  Work in progress. Suggestions and contributions
  <a href="https://github.com/jbrunton/agileplanning-io-metrics/issues">welcome</a>.
</p>
