<% breadcrumb :survey, @survey %>

<%= header_for(@survey) %>

<p>
  <strong>Template:</strong>
  <%= link_to @survey.survey_template.name, @survey.survey_template %>
</p>

<p class="center-align">
  <%= link_to 'Take the survey', new_survey_survey_response_path(@survey), class: 'btn' %>
</p>