<p id="notice"><%= notice %></p>

<h1>Listing Survey Responses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Survey instance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @survey_responses.each do |survey_response| %>
      <tr>
        <td><%= survey_response.user %></td>
        <td><%= survey_response.survey_instance %></td>
      </tr>
    <% end %>
  </tbody>
</table>

