@import 'materialize/sass/components/color';

$primary-color: color("purple", "base") !default;
$secondary-color: color("orange", "base") !default;

$roboto-font-path: 'materialize/font/roboto/';
$icons-font-path: 'materialize/font/material-design-icons/';

@import 'materialize/sass/materialize';

@import 'layout/util';
@import 'layout/nav';
@import 'layout/page';

@import 'components/button';
@import 'components/form';
@import 'components/panel';
