<%= form_for(@organization) do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= form_input(@organization, :name) %>
      </div>
    </div>
    <div class="actions">
      <%= submit_button %>
      <% unless @organization.new_record? %>
          <%= cancel_button @organization %>
      <% end %>
    </div>
<% end %>
