<p id="notice"><%= notice %></p>

<h3><%= @organization.name %>
  <%= link_to 'Edit', edit_organization_path(@organization), class: 'flat-button float-right' %>
</h3>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

