<!DOCTYPE html>
<html>
  <head>
    <title>AgileplanningIoMetrics</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">agileplanning.io | metrics</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="page-content">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
